### Kotlin template
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

### macOS template
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Java template
# See Kotlin template

### JetBrains template
.idea
*.iml
*.ipr
*.iws
out/
.idea_modules/

### Linux template
*~
.fuse_hidden*
.directory
.Trash-*

### Jekyll template
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### Eclipse template
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
*.launch
.factorypath
.apt_generated/
.apt_generated_test/
.classpath
.project

### Backup template
*.gho
*.ori
*.orig

### Project specific content
# Cpt.Lugaru September 1st 2021
.gradle/
build/
.settings/
.mcreator/
run/
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar
